[submodule "Azure/libyggdrasil"]
	path = Azure/libyggdrasil
	url = https://gitlab.ti.bfh.ch/yggdrasil/libyggdrasil
[submodule "TotalGB/libyggdrasil"]
	path = TotalGB/libyggdrasil
	url = https://gitlab.ti.bfh.ch/yggdrasil/libyggdrasil
[submodule "Mandelbrot_Julia/libyggdrasil"]
	path = Mandelbrot_Julia/libyggdrasil
	url = https://gitlab.ti.bfh.ch/yggdrasil/libyggdrasil